################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Builds/VisualStudio2012
/Builds/VisualStudio2015/Debug/juceserver.tlog
/Builds/VisualStudio2015/Debug
/Builds/VisualStudio2015/juceserver.VC.VC.opendb
/Builds/VisualStudio2015/juceserver.VC.db
